# Automatically normalize line endings.
* text=auto

# Directories and files not needed when this package is installed via Composer.
/.github export-ignore
/assets export-ignore
/bin export-ignore
/docs export-ignore
/tests export-ignore
/vendor export-ignore
/wp-graphql-plugin-name export-ignore

# Don't include the dotfiles for distribution.
/.* export-ignore

# Root files that are not needed for distribution.
/composer.lock export-ignore
/phpstan.neon.dist export-ignore
/README.md export-ignore

# Mark docs as documentation for GitHub Linguist.
/CHANGELOG.md linguist-documentation

# Keep the license file.
/LICENSE linguist-documentation
