# https://phpstan.org/config-reference

parameters:
	# Rules
	treatPhpDocTypesAsCertain: false
	inferPrivatePropertyTypeFromConstructor: true
	checkExplicitMixedMissingReturn: true
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	checkTooWideReturnTypesInProtectedAndPublicMethods: true
	polluteScopeWithAlwaysIterableForeach: false
	polluteScopeWithLoopInitialAssignments: false
	reportAlwaysTrueInLastCondition: true
	reportStaticMethodSignatures: true
	reportWrongPhpDocTypeInVarTag: true

	# Configuration
	level: 8
	tmpDir: tests/_output
	stubFiles:
		# Simulate added properties
		- phpstan/class-wp-post-type.stub
		- phpstan/class-wp-taxonomy.stub
	bootstrapFiles:
		- wp-graphql-plugin-name/phpstan/constants.php
		- wp-graphql-plugin-name/activation.php
		- wp-graphql-plugin-name/deactivation.php
		- wp-graphql-plugin-name/wp-graphql-plugin-name.php
		- wp-graphql-plugin-name/access-functions.php
	paths:
		- wp-graphql-plugin-name/activation.php
		- wp-graphql-plugin-name/deactivation.php
		- wp-graphql-plugin-name/wp-graphql-plugin-name.php
		- wp-graphql-plugin-name/access-functions.php
		- wp-graphql-plugin-name/src/
		- src/
	scanFiles:
		- vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
	scanDirectories:
		- wp-graphql-plugin-name/vendor-prefixed/axepress/wp-graphql-plugin-boilerplate/src/
	excludePaths:
		analyseAndScan:
			- vendor/*
			- node_modules/*
